/* -- Yleiset asetukset -- */

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: black;
  scroll-behavior: smooth;

  background: linear-gradient(
    45deg,
    #002741,
    #000000,
    #00294b,
    #0a3033,
    #09435e
  );
  background-size: 1000% 1000%;
  animation: goldAnimation 15s infinite ease-in-out;
}

h1,
h2,
h5,
h6 {
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h4 {
  margin: auto;
}

p {
  color: white;
}

i {
  color: goldenrod;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: goldenrod;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(85%);
}

section {
  height: 95vh;
  margin: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* -- TopBar -- */

/* Navbar */
.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}

.topnav #myLinks {
  display: none;
  position: fixed;
  top: 48px;
  right: 0;
  width: 200px;
  background-color: #333;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav #myLinks a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a.icon:hover {
  background-color: #333;
  color: black;
  cursor: pointer;
}

.active {
  background-color: black;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* -- HomePage -- */
#h {
  background: linear-gradient(
    to bottom,
    rgb(99, 98, 98),
    rgba(255, 255, 255, 0)
  );
  height: 90vh;
}

/* Dropdown filter */
.dropbtn {
  background-color: goldenrod;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  width: 85px;
  text-align: left;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 48px;
  width: 200px;
  background-color: #333;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(167, 126, 23);
}

/* -- DestButton -- */
#dest-Btn {
  background-color: goldenrod;
  color: white;
  padding: 30px;
  font-size: 30px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

/* -- MapPage -- */
#m {
  background: linear-gradient(to top, rgb(99, 98, 98), rgba(255, 255, 255, 0));
}

#map {
  height: 80%;
  width: 80%;
  z-index: 1;
}

.user-marker .dot {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

/* Container */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-item {
  background-color: rgba(85, 109, 155, 0.267);
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.flex-item a {
  display: block;
  color: black;
  background-color: #dcdcdc;
  text-align: center;
  text-decoration: none;
  padding: 25px 50px;
}

.flex-item a:hover {
  background-color: goldenrod;
}

/* -- Dialog -- */
td {
  border-style: none none solid none;
  border-color: white;
  padding: 5% 0;
}

.table-top {
  position: sticky;
}

ul li {
  padding: 2% 0;
}

.highlight {
  color: goldenrod;
}

/* -- Modal -- */
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;
}

.modal-content {
  text-align: center;
  background-color: rgb(85, 109, 155);
  padding: 20px;
  border: 1px solid #888;
  max-width: 370px;
  width: 100%;
  max-height: calc(100vh - 40px);
  overflow: auto;
  border-radius: 6px;
}

/* Modal close */
.closeModal {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: #949494;
  text-decoration: none;
  cursor: pointer;
}

.modal-open {
  overflow-y: hidden;
}

/* Modal inputs */
input[type="username"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="file"] {
  width: 92%;
  background-color: goldenrod;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* -- Animations -- */
@keyframes goldAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes goldFilter {
  0% {
    filter: grayscale(0%);
  }
  50% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}
